<div id="header_container">
    <div id="text_header_box">
        <p class = "header_text">Guilherme Gomes de Lucas</p>
        <p class = "header_text">|</p>
        <p class = "header_text">My projects</p>
        <p class = "header_text">|</p>
        <p class = "header_text"><a href="http://spiced-academy.com">Spiced Academy</a></p>
    </div>
</div>
