<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link <link href="https://fonts.googleapis.com/css?family=Delius+Unicase|Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>My projects</title>
</head>
<body>

    {{{body}}}

</body>
</html>
